name: Unit Tests
on: 
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      ENV: dev
      DB_SUPER_CONNECTION: ${{ secrets.DB_SUPER_CONNECTION }}
      PAYPAL_CLIENT_ID: ${{ secrets.PAYPAL_CLIENT_ID }}
      PAYPAL_SECRET_ID: ${{ secrets.PAYPAL_SECRET_ID }}
      DB_CONNECTION: ${{ secrets.DB_CONNECTION }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
    steps:
    - uses: actions/checkout@v2
    
    - name: Shutdown Ubuntu MySQL (SUDO)
      run: sudo service mysql stop # Shutdown the Default MySQL, "sudo" is necessary, please not remove it
    
    - name: Set up MySQL
      uses: mirromutth/mysql-action@v1.1
      with:
        mysql database: 'dev' # Optional, default value is "test". The specified database which will be create
        mysql root password: 'root' # Required if "mysql user" is empty, default is empty. The root superuser password
        mysql user: 'pisces' # Required if "mysql root password" is empty, default is empty. The superuser for the specified database. Can use secrets, too
        mysql password: 'piscespw' # Required if "mysql user" exists. The password for the "mysql user"

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
    

    - name: Set up sql-migrate
      run: go install github.com/rubenv/sql-migrate/...@latest

    - name: Run migrations
      run: cd ./db && sql-migrate up -env schema

    - name: Set up mage
      run: go install github.com/magefile/mage@latest
    
    - name: Run mage
      run: mage build

    
    - name : Unit Test
      run: go test -v ./...